.header {
  display: inline-block;
  width: 63%;
  float: right;
  height: 275px;
  padding: 2%;
  color: black;
  border: 2px solid;
}

.title {
  color: #FCFE01;
  font-size: 80px;
  display: inline-block;
  margin-left: 4%;
  margin-top: 8%;
}

button {
  font-size: 25px;
  background-color: black;
  color: #FCFE01;
  margin-left: 10%;
  margin-top: 2%;
  border: none;
}

button:hover {
  opacity: 0.5;
}

.people {
  margin-left: 0%;
}

.faves {
  margin-left: 40%;
  font-size: 20px;
}
