.header {
  display: inline-block;
  width: 71%;
  float: right;
  height: 275px;
  padding: 2%;
  color: black;
  border: 2px solid;
}

.title {
  margin-left: 30%;
  color: #FCFE01;
  font-size: 80px;
  display: inline-block;
  margin-left: 12%;
}

button {
  font-size: 30px;
  background-color: black;
  color: #FCFE01;
  margin-left: 10%;
}

.people {
  margin-left: 6%;
}

.faves {
  margin-left: 35%;
  font-size: 30px;
}
